<% content_for :content_1 do %>
    The HanSeBridge International Chamber of Commerce (abbreviated as “the Chamber of Commerce” as follows) tries its best to provide true and effective information. However, those provided information is primitive and general, users cannot make request on the integrity of information. Although all the information is provided by careful selection and verification, the Chamber of Commerce takes no responsibility for the integrity and accuracy of the data.
<% end %>

<% content_for :content_2 do %>
    Paragraphs, pictures and other kinds of productions on our website noted with “From website...” are from external websites with the purpose of disseminating more information. Therefore, it does not mean that the Chamber of Commerce is supporting the viewpoints of those contents and thoughts.
<% end %>

<% content_for :content_3 do %>
    All contents published on this website, including but not limited to texts, images, audio-videos, logos, identities, advertisements, trademarks, web pages, software, programme, layout designs, column catalogs, taxonomy of contents and information provided are subjected to the Swedish copyright law (Upphovsrättslagen), the Swedish patent law (Patenträttslagen), the Swedish trademark law (Varumärkeslagen) and other international regulations.
<% end %>

<% content_for :content_4 do %>
    Without written authorization by the Chamber of Commerce, any agencies, persons should not use the information and services provided by us for commercial purpose. Additionally, it is not allowed to modify, reproduce, link, copy, publish, spread, sell parts of our products (information) and service. Any media, websites and commercial organizations should not utilize the services and contents provided by our website for commercial purpose. In addition, it is not allowed to distort the content/information provided by our website. The violators of legal liability shall be pursued in accordance with the law.
<% end %>

<% content_for :content_5 do %>
    Any media or websites cannot directly reproduce information from our website provided by other entity units, if necessary, one should contact directly with those entity units.
<% end %>

<% content_for :content_6 do %>
    If data or information provided in this website do not agree with the relevant paper-based documents, please refer to paper-based documents; if discrepancy exists in the documents between the English and the Chinese version, the Chinese version is given the highest priority.
<% end %>


