<% content_for :content_1 do %>
    <p><strong>What kind of organization are we?</strong></p>
    <p>
    The HanSeBridge International Chamber of Commerce was registered in Gothenburg in Sweden. It is a non-profit service organization composed of the Chinese professionals, academics, experts and overseas Chinese in Sweden.
    </p>
<% end %>

<% content_for :content_2 do %>
    <p><strong>What is the mission of Hansebridge International Chamber of Commerce?</strong></p>
    <p>
    The HanSeBridge International Chamber of Commerce is devoted to promote commercial 
    activities, offer production exhibition services, platform for investment and trade, cultural 
    communication and training between China and Sweden etc. HanSeBridge provides contacts 
    and relationship, establish investment and financing channels, offers necessary information, 
    build platform of advertising and assistance, assists communication between companies and 
    governments, shares resources and promote brands.
    </p>
<% end %>

<% content_for :content_3 do %>
    <p><strong>How to become a member of the HanSeBridge International Chamber of Commerce?</strong></p>
    <p>
    Membership enrollment process is shown in the table
    <br>
    <br>
    <%= image_tag("enroll_en.png", size: "500x600") %>
    </p>
<% end %>

<% content_for :content_4 do %>
    <p><strong>What are the benefits of being a member of the HanSeBridge International Chamber of Commerce?</strong></p>
    <p>
    <ul>
        <li>
            Members can expand social contacts, meet experts from the same industry and various industries, and senior government or company officials, build personal network, to set the foundation for finding a suitable job, and indicate the direction of future career development.
        </li>
        <li>
            With the aid of this platform, members can reflect personal professional advantage, market themselves and achieve self-worth,  turn theoretical knowledge and practical experience into productivity, serve the society, improve the China-Sweden interaction, communication and development. 
        </li>
        <li>
            Anyone that made  important contribution to the  HanSeBridge International Chamber of Commerce, or  any domestic and foreign institutions, experts and scholars that have reputations, can be granted honorary members or honorary body corporate members by meeting organized by the chairman (as discussed and adopted by the steering committee meeting).
        </li>
    </ul>
    </p>
<% end %>

<% content_for :content_5 do %>
    <p><strong>Any other questions, please contact the Department of General Affairs.
        <a href="mailto:info@hansebridge.org">info@hansebridge.org</a>
    </strong></p>
<% end %>

