<% content_for :content_1 do %>
    <p><strong>我们是一个什么样的组织?</strong></p>
    <p>
    汉瑞金桥国际商会是在瑞典哥德堡注册, 由瑞典和中国的各界商务人士，学者，专家以及华人华侨组成的服务性非盈利组织。
    </p>
<% end %>

<% content_for :content_2 do %>
    <p><strong>商会宗旨是什么?</strong></p>
    <p>
    商会致力于推动和促进中瑞两国之间商贸活动、提供产品展销、投资洽谈以及文化交流培
    训等服务。提供人脉网络、投融资渠道、信息渠道、宣传窗口、求助平台、政企沟通、资源共享、品
    牌推广。
    </p>
<% end %>

<% content_for :content_3 do %>
    <p><strong>如何成为商会会员? 成为商会会员的流程是什么?</strong></p>
    <p>
    入会流程如图
    <br>
    <%= image_tag("enroll_zh.png", size: "500x600") %>
    </p>
<% end %>

<% content_for :content_4 do %>
    <p><strong>成为商会会员有什么好处吗?</strong></p>
    <p>
    <ul>
        <li>
            扩大您的社会交际面，结交同行业以及各行业的精英人才、企业政府高层、积累人脉网络，为寻找最合适的工作岗位垫定基础，为将来的事业发展指明方向。
        </li>
        <li>
            借助这个平台，体现您个人的专业优势，推销自己和实现自我价值，将所学到的理论知识和实践经验转变成生产力，服务社会，为中瑞两国交流、沟通、发展做一件有意义的事情。
        </li>
        <li>
            凡对本商会有重要贡献，有声誉的国内外单位、专家、学者，经会长办公会议讨论通过，可授予荣誉会员或荣誉单位会员称号。
        </li>
    </ul>
    </p>
<% end %>

<% content_for :content_5 do %>
    <p><strong>其他问题，请联络:
        <a href="mailto:info@hansebridge.org">info@hansebridge.org</a>
    </strong></p>
<% end %>

