<% content_for :content_1 do %>
    本商会尊重并保护所有会员的个人隐私权，您注册的用户名、电子邮件地址等个人资料，非经您亲自许可或根据相关法律、法规的强制性规定，本商会不会主动地泄露给第三方。
<% end %>

<% content_for :content_2 do %>
    我们不会出售，交易或以其他方式转让给外界您的个人身份信息。这不包括受信任的第三方，他们可能是帮助我们运营我们的网站，开展我们的业务，或为您提供服务，只要大家都同意对信息保密。当且仅当我们遵照相关法律，执行我们的网站政策或者保护我们或他人的权利，财产，和安全时，我们有可能会考虑释放个别信息。然而，非个人身份的访问者的信息可能提供给外界进行市场营销，广告，或其他用途。
<% end %>

<% content_for :content_3 do %>
    当您在我们的网站上注册时，您会被要求输入您的用户名和邮箱地址。当然，您也可以暂时不注册，以访客的身份浏览我们的网站。当您注册时，会有一封包含唯一链接的验证邮件发到您的邮箱，通过它您可以激活账号。如果那个链接被访问了，我们就知道您是这个邮箱的拥有者。
<% end %>

<% content_for :content_4 do %>
    使用我们的网站，表示您默认同意我们网站的隐私条款。
<% end %>



