<% content_for :content_1 do %>
    Personal privacy of all the members at the Chamber of Commerce are protected and respected. All the information registered in our website will be kept in secret in accordance to the corresponding laws and regulations. Without personal permission, they will not be provided or disclosed to any third parties.
<% end %>

<% content_for :content_2 do %>
    We do not sell, trade or otherwise transfer your personally identifiable information to outside parties. This does not include trusted third parties who may assist us in operating our website, do business or offer you service, as long as everyone agrees to keep information confidential. We may release part of your information when we believe that it is appropriate to enforce our website policies, or to protect ours or others rights, property, or safety, which absolutely complies with the relevant rules and regulations. However, non-personally identifiable visitor information may provided to other parties for marketing, advertising, or other uses.
<% end %>

<% content_for :content_3 do %>
    When you are registering on our website, you are requested to input your username and Email. Of course you can choose not to register but browse our website as visitor. When you register, a validation Email including a link will be sent to you. By clicking the link we sent you, your account can be activated. If the link has been opened, we know that you are the owner of the registered Email.
<% end %>

<% content_for :content_4 do %>
    It is assumed that you acknowledged the privacy policy of our website if you start using our website. 
<% end %>

