<% content_for :content_training do %>
The Chamber of Commerce organizes commerce and trade training programs, lectures and seminars for different delegations at regular intervals. Meanwhile, the Chamber of Commerce provides the latest economic & trade information and management scheme, the communication platform for members. Moreover, the Chamber of Commerce arranges trainings regarding the cultural diversity between China and Sweden as well as the aspects of management to promote the communication and cooperation.
<% end %>

<% content_for :content_assistant do %>
The Chamber of Commerce keeps close contact with local enterprises and government, thus having extensive relations. The Chamber of Commerce can help to make your schedules in Sweden, contact corresponding local enterprises and government for your business purpose. In addition, the Chamber of Commerce can help you to apply for visa, book hotels and flight tickets. 
<% end %>

<% content_for :content_consulting do %>
The consulting services provided by the Chamber of Commerce include business co-operations, technologies, laws and regulations, trades, cultural exchanges et al.
<% end %>

<% content_for :content_ad do %>
The Chamber of Commerce’s website provides latest business information with respect to various areas.
The Chamber of Commerce’s website is also a communication platform for you and your organization to advertise and pass the information to appropriate customer base.
<% end %>

<% content_for :content_investment do %>
We assist you change your idle fund to the growth capital, and try to help those companies which are in need of money to get financial support, thus maximizing the profits of investors and getting benefits from each other.
We help you to analyze and get to know the foreign relations of local government where the investment is to be made, and provide information regarding local conditions and customs, market opportunities, geo-climatic conditions, economic development and achievement, fluctuation of goods price and the opportunities in the market, infrastructure, education condition and religious faith et al.
<% end %>

<% content_for :content_legal do %>
We help you to get acquaintance with the Chinese and Swedish laws, regulations and the corresponding policies. If the dispute appears regarding business trading, the Chamber of Commerce can help members contact lawyers and offer legal assistance.
<% end %>

<% content_for :content_translation do %>
Document translation in Chinese, English and Swedish.
Private interpretation who can assist business negotiation.
According to members’ demands, our Chamber of Commerce can provide services of document translation, conference interpretation and private interpretation etc. We have professional translators; each translator has expertise and rich experience in specific area(s), such as technology, finance, laws and marketing etc. which can offer our customers high-quality service.
<% end %>

