<% content_for :content_training do %>
商会定期组织商贸交流访问团参加商贸培训、商贸讲座和研讨会，同时为会员提供交流的平台，最新的经贸信息与管理方案。商会也组织关于中瑞文化差异及管理方面的培训，促进交流与合作。
<% end %>

<% content_for :content_assistant do %>
商会与本地企业界和相关政府职能部门保持密切联系,有着广泛的人脉关系,可以协助安排本地行程，联系相关企业和政府部门协助洽谈业务和商务考察. 另外,商会可帮助办理签证，预定酒店和机票等。
<% end %>

<% content_for :content_consulting do %>
商会可提供包括商务合作、技术、法律法规、贸易、文化交流等方面的咨询服务。
<% end %>

<% content_for :content_ad do %>
商会网站提供各类的最新商业资讯。会员及商家可在商会网站上刊登广告，将信息传递给相应的顾客群。
<% end %>

<% content_for :content_investment do %>
我们帮您把闲置资金尽可能变为成长资本;并尽可能盘活需要资金的企事业单位的生产经营状况。使投融资者最大化的互惠互利。
帮您分析和了解投资所在地的政府对外关系的动态,市场机遇,风土人情,地理气候,经济发展和成就,物价稳定程度,市场完善和开放的程度,基础设施,教育状况,宗教信仰等等。
<% end %>

<% content_for :content_legal do %>
我们帮您初步了解中国和瑞典政府有关机构的法律法规以及相关政策.会员在贸易过程中出现纠纷等问题时，商会可以协助联系律师，提供法律援助。
<% end %>

<% content_for :content_translation do %>
中文,瑞典语,英语文件翻译。
随同翻译: 全程陪同，协助商务谈判。
商会根据客户需要，提供资料翻译、商务会议翻译和随行翻译等。商会拥有众多资深的专业翻译人才，每个成员都具有特定领域的专业技能和丰富经验（如技术类翻译、金融翻译、法律翻译和营销翻译等等），拥有全面的多语言专业术语资源和翻译经验，能够给您提供优质的翻译服务。
<% end %>

