<% provide(:title, t("About")) %>
<div class="divider"></div>

<div class="container">
    <div class="page-header text-center">
        <h2><i class="fa fa-group fa-1g icon_color"></i> <span class="golden"><%= t('About') %></span></h2>
    </div>

    <p> 
    <%= render :partial => 'about_contents' %>
    </P>
    <br/>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div id="photo_ergang"></div>
                <h3>
                    <span class="golden"> <%= t('Ergang Wang')%> </span>
                    <% if I18n.locale == :en %>
                        <%= link_to ("https://www.linkedin.com/pub/ergang-wang/35/159/33"), class:"btn btn-social-icon" do %>
                            <i class="fa fa-linkedin"></i>
                        <% end %>
                    <% elsif I18n.locale == :'zh-CN' %>
                        <%= link_to asset_path('ergang.pdf'), class: "btn btn-social-icon btn-twitter" do %>
                            <i class="fa fa-linkedin"></i>
                        <% end %>
                    <% end %>
                </h3>
                <h4><p class="golden"> <%= t('Chairman')%> </p></h4>
                <a href="mailto:ergang.wang@hansebridge.org"><span class="golden">ergang.wang@hansebridge.org</span></a>
                <div class="divider"></div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div id="photo_yy"></div>
                <h3>
                    <span class="golden"> <%= t('Yeyu Fang')%> </span>
                    <% if I18n.locale == :en %>
                        <%= link_to ("http://se.linkedin.com/pub/yeyu-fang/a/788/238"), class:"btn btn-social-icon" do %>
                            <i class="fa fa-linkedin"></i>
                        <% end %>
                    <% elsif I18n.locale == :'zh-CN' %>
                        <%= link_to asset_path('fang.pdf'), class: "btn btn-social-icon btn-twitter" do %>
                            <i class="fa fa-linkedin"></i>
                        <% end %>
                    <% end %>
                </h3>
                <h4><p class="golden"> <%= t('vice-Chairman')%> </p></h4>
                <a href="mailto:yeyu.fang@hansebridge.org"><span class="golden">yeyu.fang@hansebridge.org</span></a>
                <div class="divider"></div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div id="photo_gong"></div>
                <h3>
                    <span class="golden"> <%= t('Yueying Gong')%> </span>
                    <%= link_to asset_path('Gong.pdf'), class: "btn btn-social-icon btn-twitter" do %>
                        <i class="fa fa-linkedin"></i>
                    <% end %>
                </h3>
                <h4><p class="golden"> <%= t('vice-Chairman')%> </p></h4>
                <a href="mailto:yueying.gong@hansebridge.org"><span class="golden">yueying.gong@hansebridge.org</span></a>
                <div class="divider"></div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div id="photo_felix"></div>
                <h3>
                    <span class="golden"> <%= t('Felix Yu')%> </span>
                    <%= link_to asset_path('Yu.pdf'), class: "btn btn-social-icon btn-twitter" do %>
                        <i class="fa fa-linkedin"></i>
                    <% end %>
                </h3>
                <h4><p class="golden"> <%= t('Director')%> </p></h4>
                <a href="mailto:felix.yu@hansebridge.org"><span class="golden">felix.yu@hansebridge.org</span></a>
                <div class="divider"></div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div id="photo_cai"></div>
                <h3>
                    <span class="golden"> <%= t('Shengzhen Cai')%> </span>
                    <% if I18n.locale == :en %>
                        <%= link_to ("https://www.linkedin.com/pub/shengzhen-cai/95/889/692"), class:"btn btn-social-icon" do %>
                            <i class="fa fa-linkedin"></i>
                        <% end %>
                    <% elsif I18n.locale == :'zh-CN' %>
                        <%= link_to asset_path('cai.pdf'), class: "btn btn-social-icon btn-twitter" do %>
                            <i class="fa fa-linkedin"></i>
                        <% end %>
                    <% end %>
                </h3>
                <h4><p class="golden"> <%= t('Secretary')%> </p></h4>
                <a href="mailto:shengzhen.cai@hansebridge.org"><span class="golden">shengzhen.cai@hansebridge.org</span></a>
                <div class="divider"></div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div id="photo_jl"></div>
                <h3>
                    <span class="golden"> <%= t('Junling Qian')%> </span>
                    <% if I18n.locale == :en %>
                        <%= link_to ("http://se.linkedin.com/pub/junling-qian/23/82b/b33"), class:"btn btn-social-icon" do %>
                            <i class="fa fa-linkedin"></i>
                        <% end %>
                    <% elsif I18n.locale == :'zh-CN' %>
                        <%= link_to asset_path('qian.pdf'), class: "btn btn-social-icon btn-twitter" do %>
                            <i class="fa fa-linkedin"></i>
                        <% end %>
                    <% end %>
                </h3>
                <h4><p class="golden"> <%= t('Secretary')%> </p></h4>
                <a href="mailto:junling.qian@hansebridge.org"><span class="golden">junling.qian@hansebridge.org</span></a>
                <div class="divider"></div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div id="photo_cj"></div>
                <h3>
                    <span class="golden"> <%= t('Chuan Jin')%> </span>
                    <% if I18n.locale == :en %>
                        <%= link_to ("https://www.linkedin.com/pub/chuan-jin/22/528/4a4"), class:"btn btn-social-icon" do %>
                            <i class="fa fa-linkedin"></i>
                        <% end %>
                    <% elsif I18n.locale == :'zh-CN' %>
                        <%= link_to asset_path('jin.pdf'), class: "btn btn-social-icon btn-twitter" do %>
                            <i class="fa fa-linkedin"></i>
                        <% end %>
                    <% end %>
                </h3>
                <h4><p class="golden"> <%= t('Director')%> </p></h4>
                <a href="mailto:chuan.jin@hansebridge.org"><span class="golden">chuan.jin@hansebridge.org</span></a>
                <div class="divider"></div>
            </div>
        </div> <!-- /.row -->

    </div> <!--/container-->

    <div class="divider"></div>
</div>

