<% provide(:title, t("Disclaimer")) %>

<div class="page-header text-center">
    <h2><i class="fa fa-sticky-note-o fa-1g icon_color"></i> <span class="golden"> <%= t('Disclaimer') %> </span></h2> 
</div>

<%= render :partial => 'disclaimer_contents' %>
<div class="container disclaimer">
    <ul>
        <li>
            <p>
            <%= yield :content_1 %>
            </p>
        </li>
        <br>
        <li>
            <p>
            <%= yield :content_2 %>
            </p>
        </li>
        <br>
        <li>
            <p>
            <%= yield :content_3 %>
            </p>
        </li>
        <br>
        <li>
            <p>
            <%= yield :content_4 %>
            </p>
        </li>
        <br>
        <li>
            <p>
            <%= yield :content_5 %>
            </p>
        </li>
    </ul>
</div>
