<% provide(:title, t("FAQ")) %>
<div class="page-header text-center">
    <h2><i class="fa fa-question-circle fa-1g icon_color"></i> <span class="golden"> <%= t('FAQ') %></span></h2> 
</div>

<%= render :partial => 'faq_contents' %>
<div class="container faq">
    <p><%= yield :content_1 %></p>
    <br>
    <p><%= yield :content_2 %></p>
    <br>
    <p><%= yield :content_3 %></p>
    <br>
    <p><%= yield :content_4 %></p>
    <br>
    <p><%= yield :content_5 %></p>
</div>
