<% provide(:title, t("Home")) %>

<!-- fotorama.css & fotorama.js. -->
<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->

<!-- 2. Add images to <div class="fotorama"></div>. -->
<div class="fotorama"
     data-shuffle="true"
     data-fit="cover"
     data-loop="true"
     data-autoplay="true"
     data-width="100%"
     data-ratio="3/1"
     data-auto="true">
    <%= image_tag("1.jpg") %>
    <%= image_tag("2.jpg") %>
    <%= image_tag("3.jpg") %>
</div>

<div id="bgimg">
    <h3>A non profit organization</h3>
    <h3>Focus on the connection between China and Sweden</h3>
    <h3>Your business bridge across countries</h3>
</div>

<% if @news_links.any? %>
    <div class="text-center">
        <div class="page-header text-center">
            <h1><i class="fa fa-bullhorn fa-1g icon_color"></i> <span class="golden"> <%= t('News')%></span> </h1>
        </div>
        <div id="scroll-news" class="scroll-text">
            <ul>
                <% @news_links.each do |news_link| %>
                    <li><%= link_to news_link.title, news_link.link %></li>
                <% end %>
            </ul>
        </div>

        <%= button_to news_links_path, method: :get, class:"btn icon_color btn-lg" do %>
            <span class="fa fa-hand-right icon_color"></span>
            <span class="golden"> <%= t('more') %> </span>
        <% end %>

    </div>
<% end %>

<div id="social">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2 text-center">

            <ul class="list-inline center-block">
                <li><a href="http://twitter.com/hansebridge"><i class="fa fa-twitter-square fa-4x icon_color"></i></a></li>
                <li><a href="https://www.facebook.com/pages/Hansebridge/796294690402546"><i class="fa fa-facebook-square fa-4x icon_color"></i></a></li>
                <li><a href="https://plus.google.com/114827763298829497201/posts"><i class="fa fa-google-plus-square fa-4x icon_color"></i></a></li>
                <li><a href="http://google.com/+hansebridge"><i class="fa fa-weibo fa-4x icon_color"></i></a></li>
            </ul>

        </div><!--/col-->
    </div><!--/container-->
</div>


<script>
$('#scroll-news').scrollbox({
    linear: true,
    step: 1,
    delay: 0,
    speed: 100
});

</script>
