<% provide(:title, t("Privacy")) %>
<div class="page-header text-center">
    <h2><i class="fa fa-user-secret fa-1g icon_color"></i> <span class="golden"> <%= t('Privacy') %> </span></h2> 
</div>

<%= render :partial => 'privacy_contents' %>
<div class="container privacy">
    <ul>
        <li>
            <p>
            <%= yield :content_1 %>
            </p>
        </li>
        <br>
        <li>
            <p>
            <%= yield :content_2 %>
            </p>
        </li>
        <br>
        <li>
            <p>
            <%= yield :content_3 %>
            </p>
        </li>
        <br>
        <li>
            <p>
            <%= yield :content_4 %>
            </p>
        </li>
    </ul>
</div>
