<% provide(:title, t("Services")) %>
<div class="divider" id="business"></div>

<%= render :partial => 'services_contents' %>
<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="page-header text-center">
                <h2><i class="fa fa-certificate fa-1g icon_color"></i> <span class="golden"> <%= t('Training') %></span></h2>
            </div>
            <%= image_tag("training.jpg", class: "service_img", size: "200x120") %>
            <p>
            <%= yield :content_training %>
            </p>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="page-header text-center">
                <h2><i class="fa fa-briefcase fa-1g icon_color"></i> <span class="golden"> <%= t('Business Assistant') %></span></h2>
            </div>
            <%= image_tag("business.jpg", class: "service_img", size: "200x120") %>
            <p>
            <%= yield :content_assistant %>
            </p>
        </div>
    </div>


    <div class="col-sm-10 col-sm-offset-1">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="page-header text-center">
                <h2><i class="fa fa-compass fa-1g icon_color"></i> <span class="golden"> <%= t('Consulting') %></span></h2>
            </div>
            <%= image_tag("consult.jpg", class: "service_img", size: "200x120") %>
            <p>
            <%= yield :content_consulting %>
            </p>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="page-header text-center">
                <h2><i class="fa fa-bullhorn fa-1g icon_color"></i> <span class="golden"> <%= t('Advertisement') %></span></h2>
            </div>
            <%= image_tag("ad.jpg", class: "service_img", size: "200x120") %>
            <p>
            <%= yield :content_ad %>
            </p>
        </div>
    </div>


    <div class="col-sm-10 col-sm-offset-1">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="page-header text-center">
                <h2><i class="fa fa-usd fa-1g icon_color"></i> <span class="golden"> <%= t('Investment & Financing') %></span></h2>
            </div>
            <%= image_tag("invest.jpg", class: "service_img", size: "200x120") %>
            <p>
            <%= yield :content_investment %>
            </p>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="page-header text-center">
                <h2><i class="fa fa-mortar-board fa-1g icon_color"></i> <span class="golden"> <%= t('Legislation Services') %></span></h2>
            </div>
            <%= image_tag("legal.jpg", class: "service_img", size: "200x120") %>
            <p>
            <%= yield :content_legal %>
            </p>
        </div>
    </div>



    <div class="col-sm-10 col-sm-offset-1">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="page-header text-center">
                <h2><i class="fa fa-globe fa-1g icon_color"></i> <span class="golden"> <%= t('Translation & Interpretation') %></span></h2>
            </div>
            <%= image_tag("translate.jpg", class: "service_img", size: "200x120") %>
            <p>
            <%= yield :content_translation %>
            </p>
        </div>
    </div>
</div>



<div class="divider"></div>
<div class="bg-1">
</div>


<div class="divider"></div>

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">

        <div class="page-header text-center">
            <h2><i class="fa fa-table icon_color"></i> <span class="golden"><%= t('Tables') %> </span> </h2>
        </div>
        <ul>
            <% @tables.each do |table| %>
                <% @name = table.split('/').last %>
                <li>
                    <%= link_to "#{@name}", asset_path("#{@name}") %>
                </li>
            <% end %>
        </ul>
    </div>
</div>



<div class="divider"></div>

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">

        <div class="page-header text-center">
            <h2><i class="fa fa-info-circle fa-1g icon_color"></i> <span class="golden"><%= t('Help Links') %> </span> </h2>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div>
                <ul>
                    <li><a href="http://www.migrationsverket.se/English/Private-individuals.html" target="_blank">Swedish Migration Board</a></li>
                    <li><a href="http://work.sweden.se/" target="_blank">Work in Sweden</a></li>
                    <li><a href="http://work.sweden.se/how-to-find-a-job/start-your-own-business/" target="_blank">Start your business in Sweden</a></li>
                    <li><a href="http://www.skatteverket.se/" target="_blank">Swedish tax office</a></li>
                </ul>
            </div>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div>
                <ul>
                    <li><a href="http://www.chinaembassy.se/chn/" target="_blank">中华人民共和国驻瑞典大使馆</a></li>
                    <li><a href="http://www.cnedu.nu/" target="_blank">中国驻瑞典大使馆教育处</a></li>
                    <li><a href="http://gothenburg.chineseconsulate.org/chn/" target="_blank">中华人民共和国驻哥德堡总领事馆</a></li>
                    <li><a href="http://www.swedenabroad.com/zh-CN/Embassies/Beijing/" target="_blank">瑞典驻华使馆</a></li>
                </ul>
            </div>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div>
                <ul>
                    <li><a href="http://www.chinaembassy.se/chn/" target="_blank">中华人民共和国驻瑞典大使馆</a></li>
                    <li><a href="http://www.cnedu.nu/" target="_blank">中国驻瑞典大使馆教育处</a></li>
                    <li><a href="http://gothenburg.chineseconsulate.org/chn/" target="_blank">中华人民共和国驻哥德堡总领事馆</a></li>
                    <li><a href="http://www.swedenabroad.com/zh-CN/Embassies/Beijing/" target="_blank">瑞典驻华使馆</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="divider"></div>
