<%= devise_error_messages! %>
<div class="container" id = "resend_confirm_form">
    <div class="row vertical-offset-100">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="golden"><%= t('Resend confirmation instructions') %></span></h3>
                </div>
                <div class="panel-body">
                    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
                        <fieldset>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-user icon_color"></span></span>
                                    <%= f.email_field :email, placeholder: t('Email'), class:"form-control", autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
                                </div>
                            </div>
                            <input class="btn btn-lg btn-success btn-block" type="submit" value=<%= t('Resend') %> >
                        </fieldset>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

