<%= devise_error_messages! %>
<div class="container" id = "register_form">
    <div class="row vertical-offset-100">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="golden"><%= t('Reset Password') %></span></h3>
                </div>
                <div class="panel-body">
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                        <fieldset>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-envelope icon_color"></span></span>
                                    <%= f.email_field :email, class:"form-control", autofocus: true, readonly: true %>
                                </div>
                            </div>
                            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                            <% end %>

                            <% if @minimum_password_length %>
                                <em>(<%=t('minimum characters length') %>: <%= @minimum_password_length %>)</em>
                            <% end %><br />

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-lock icon_color"></span></span>
                                    <%= f.password_field :current_password, placeholder: t('Current Password'), class:"form-control", autocomplete: "off" %>
                                </div>
                            </div>
                            <%= t("leave blank if you don't want to change it") %>
                            <% if @minimum_password_length %>
                                <em>(<%=t('minimum characters length') %>: <%= @minimum_password_length %>)</em>
                            <% end %><br />
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-lock icon_color"></span></span>
                                    <%= f.password_field :password, placeholder: t('New Password'), class:"form-control", autocomplete: "off" %>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-lock icon_color"></span></span>
                                    <%= f.password_field :password_confirmation, placeholder: t('Password Confirmation'), class:"form-control", autocomplete: "off" %>
                                </div>
                            </div>
                            <input class="btn btn-lg btn-success btn-block" type="submit" value=<%= t('Save') %> >
                        </fieldset>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-warning" align="center">
        <%= button_to t("Delete my account"), registration_path(resource_name) , { data: { confirm: t("Are you sure?") }, method: :delete, class: 'btn btn-sm btn-danger'} %>
    </div>
</div>




