<%= devise_error_messages! %>

<div class="container" id = "register_form">
    <div class="row vertical-offset-100">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="golden"><%= t('Please sign up with your E-mail address') %></span></h3>
                </div>
                <div class="panel-body">
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                        <fieldset>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-envelope icon_color"></span></span>
                                    <%= f.email_field :email, placeholder: t('Email'), class:"form-control", autofocus: true %>
                                </div>
                            </div>
                            <% if @minimum_password_length %>
                                <em>(<%=t('minimum characters length') %>: <%= @minimum_password_length %>)</em>
                            <% end %><br />
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-lock icon_color"></span></span>
                                    <%= f.password_field :password, placeholder: t('Password'), class:"form-control", autocomplete: "off" %>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-lock icon_color"></span></span>
                                    <%= f.password_field :password_confirmation, placeholder: t('Password Confirmation'), class:"form-control", autocomplete: "off" %>
                                </div>
                            </div>
                            <input class="btn btn-lg btn-success btn-block" type="submit" value=<%= t('Submit') %> >
                        </fieldset>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-warning" align="center">
        <div class="golden">
            <%= t('If you already have an account,') %>
            <i class="fa fa-user fa-1g icon_color"></i> 
            <%= link_to new_user_session_path do %>
                <%= t('Log in') %> 
            <% end %>
            <br />
            <br />
            <%= link_to t("Didn't receive confirmation instructions?"), new_confirmation_path(resource_name) %>
        </div>
    </div>
</div>


