<div class="divider"></div>

<div class="container">
    <div class="row vertical-offset-100">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="golden"><%= t('Update your profile') %></span></h3>
                </div>
                <div class="panel-body">
                    <%= form_for @user, url: {action: "update"} do |f| %>
                        <fieldset>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-envelope icon_color"></span></span>
                                    <%= f.email_field :email, class:"form-control", autofocus: true, readonly: true %>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-user icon_color"></span></span>
                                    <%= f.text_field :full_name, placeholder: t('Full Name'), class:"form-control", autocomplete: "off" %>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-suitcase icon_color"></span></span>
                                    <%= f.text_field :company, placeholder: t('Company'), class:"form-control", autocomplete: "off" %>
                                </div>
                            </div>

                            <input class="btn btn-lg btn-success btn-block" type="submit" value=<%= t('Submit') %> >
                        </fieldset>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-warning" align="center">
        <%= link_to t("Back"), user_path(@user) , class: 'btn btn-sm btn-primary' %>
    </div>
</div>


<div class="divider"></div>
