<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="page-header text-center">
            <h1><i class="fa fa-user fa-1g icon_color"></i> <span class="golden"> <%= t('Users')%></span> </h1>
        </div>

        <div class="col-sm-10 col-sm-offset-1">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><%= t('Email') %></th>
                        <th><%= t('Created at') %></th>
                        <th><%= t('Updated at') %></th>
                        <th><%= t('Actions') %></th>
                    </tr>
                </thead>
                <tbody>
                    <% @users.each do |user| %>
                        <tr>
                            <td> <%= user.email %></td>
                            <td> <%= user.created_at %></td>
                            <td> <%= user.updated_at %></td>
                            <td><%= link_to t('Show'), user, :class => 'btn btn-mini btn-primary' %></td>
                            <td><%= link_to t('Edit'), edit_user_path(user),  :class => 'btn btn-mini btn-success'%></td>
                            <td>
                                <%= link_to t('Delete'), user, :method => :delete, data: {confirm: t("Are you sure?")}, :class => 'btn btn-mini btn-danger' %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <%= will_paginate %>
        </div>
    </div>
</div>


<div class="divider"></div>
