<%= devise_error_messages! %>
<div class="container" id = "resend_confirm_form">
    <div class="row vertical-offset-100">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="golden"><%= t('Change your password') %></span></h3>
                </div>
                <div class="panel-body">
                    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
                        <%= f.hidden_field :reset_password_token %>
                        <fieldset>
                            <% if @minimum_password_length %>
                                <em>(<%=t('minimum characters length') %>: <%= @minimum_password_length %>)</em>
                            <% end %><br />
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-lock icon_color"></span></span>
                                    <%= f.password_field :password, placeholder: t('New Password'), class:"form-control", autocomplete: "off" %>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-lock icon_color"></span></span>
                                    <%= f.password_field :password_confirmation, placeholder: t('Password Confirmation'), class:"form-control", autocomplete: "off" %>
                                </div>
                            </div>
                            <input class="btn btn-lg btn-success btn-block" type="submit" value=<%= t('Submit') %> >
                        </fieldset>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

