<% provide(:title, t("News")) %>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="page-header text-center">
            <h1><i class="fa fa-bullhorn fa-1g icon_color"></i> <span class="golden"> <%= t('News')%></span> </h1>
        </div>

        <div class="col-sm-10 col-sm-offset-1">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><%= t('Title') %></th>
                        <th><%= t('Created at') %></th>
                        <th><%= t('Updated at') %></th>
                        <th><%= t('Actions') %></th>
                    </tr>
                </thead>
                <tbody>
                    <% @news_links.each do |news_link| %>
                        <tr>
                            <td> <%= link_to news_link.title, news_link.link %></td>
                            <td> <%= news_link.created_at %></td>
                            <td> <%= news_link.updated_at %></td>
                            <td>
                                <%= link_to t('Edit'), edit_news_link_path(news_link), :class => 'btn btn-warning' %>
                                <%= link_to t('Delete'), news_link_path(news_link), :method => :delete, data: {confirm: t("Are you sure?")}, :class => 'btn btn-mini btn-danger' %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <%= link_to t('New'), new_news_link_path, :class => 'btn btn-primary' %>
            <br/>
            <%= will_paginate %>
        </div>
    </div>
</div>


<div class="divider"></div>
