<% @news_link.errors.each do |key, value|  %>
    <div class="alert alert-error %>">
        <a href="#" data-dismiss="alert" class="close">×</a>
        <ul>
            <li>
                <%= value %>
            </li>
        </ul>
    </div>
<% end %>

<div class="divider"></div>

<div class="container">
    <div class="row vertical-offset-100">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="golden"><%= t('Create a new news link') %></span></h3>
                </div>
                <div class="panel-body">
                    <%= form_for @news_link, url: {action: "create"} do |f| %>
                        <fieldset>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-header icon_color"></span></span>
                                    <%= f.text_field :title, placeholder: t('Title'), class:"form-control", autocomplete: "off" %>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-link icon_color"></span></span>
                                    <%= f.text_field :link, placeholder: t('Link'), class:"form-control", autocomplete: "off" %>
                                </div>
                            </div>
                            <input class="btn btn-lg btn-success btn-block" type="submit" value=<%= t('Submit') %> >
                        </fieldset>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-warning" align="center">
        <%= link_to t("Back"), news_links_path , class: 'btn btn-sm btn-primary' %>
    </div>
</div>


<div class="divider"></div>
