<div class="container" id = "login_form">
    <div class="row vertical-offset-100">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="golden"><%= t('Please sign in') %></span></h3>
                </div>
                <div class="panel-body">
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                        <fieldset>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-user icon_color"></span></span>
                                    <%= f.email_field :email, placeholder: t('Email'), class:"form-control", autofocus: true %>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-lock icon_color"></span></span>
                                    <%= f.password_field :password, placeholder: t('Password'), class:"form-control", autocomplete: "off" %>
                                </div>
                            </div>
                            <% if devise_mapping.rememberable? -%>
                                <div class="field">
                                    <%= f.check_box :remember_me %>
                                    <label for="user_remember_me"><%= t('Remember me') %></label>
                                </div>
                            <% end -%>
                            <input class="btn btn-lg btn-success btn-block" type="submit" value=<%= t('Login') %> >
                        </fieldset>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-warning" align="center">
        <div class="golden">
            <%= t('Do not have an account yet?') %>
            <i class="fa fa-smile-o fa-1g icon_color"></i> 
            <%= link_to new_user_registration_path do %>
                <%= t('Sign up') %> 
            <% end %>
            <br>
            <br>
            <i class="fa fa-key fa-1g icon_color"></i> 
            <%= link_to new_user_password_path do%>
                <%= t('Forgot your password?') %>
            <% end %>
            <br />
            <br />
            <%= link_to t("Didn't receive confirmation instructions?"), new_confirmation_path(resource_name) %>
        </div>
    </div>
</div>
