// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#body {
    height: 100%;
    background-color: #e6eef7;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

#header {
    background: image-url('wild_oliva.png');
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -20px;
}

/* Set the fixed height of the footer here */
#footer {
    min-height: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #414141;
}

#footer a {
    color: #efefef;
}

#bottom {
    position: relative;
    width: 100%;
    bottom: 0px;
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #eee;
}

#bottom ul {
    min-width: 100%;
    list-style: none;
    display: inline-table;
}

#bottom ul li {
    display: inline-table;
}

#bottom ul li a {
    font-size: 90%;
    display: block;
    padding: 1px 1px;
}

#bottom ul li:hover a {
    color: rgba(0, 255, 0, 0.5);
    text-decoration: none;
}

.golden {
    z-index: 10;
    margin: auto;
    font-weight: 900;
    color: #D5AD6D;

    /*if no support for background-clip*/
    width: 100%;
    font-family: Exo;
    line-height: 1em;
    background: -webkit-linear-gradient(transparent, transparent), -webkit-linear-gradient(top, rgba(213, 173, 109, 1) 0%, rgba(213, 173, 109, 1) 26%, rgba(226, 186, 120, 1) 35%, rgba(163, 126, 67, 1) 45%, rgba(145, 112, 59, 1) 61%, rgba(213, 173, 109, 1) 100%);
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon_color {
    color: #D5AD6D;

    /*if no support for background-clip*/
    background: -webkit-linear-gradient(transparent, transparent), -webkit-linear-gradient(top, rgba(213, 173, 109, 1) 0%, rgba(213, 173, 109, 1) 26%, rgba(226, 186, 120, 1) 35%, rgba(163, 126, 67, 1) 45%, rgba(145, 112, 59, 1) 61%, rgba(213, 173, 109, 1) 100%);
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* customize nav style */
.navbar-nav li:hover {
    background-color: #565656;
}

.divider {
    height: 50px;
}

section {
    color: #ffffff;
    min-height: 300px;
    height: auto !important;
    height: 100%;
    padding-top: 100px;
}

.bg-1 {
    min-height: 200px;
    background: image-url("bg1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-2 {
    background: image-url("bg2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-3 {
    padding-top: 30px;
    background-color: #e6e6e6;
}

.bg-4 {
    padding-top: 30px;
    background-color: #e6eef7;
}

.btn-signin {
    margin-top: 10px;
}

.btn-signout {
    margin-top: 10px;
}

#register_form {
    margin: 0 auto;
    padding: 100px 0;
}

#login_form {
    margin: 0 auto;
    padding: 100px 0;
}

#forgot_pass_form {
    margin: 0 auto;
    padding: 100px 0;
}

#resend_confirm_form {
    margin: 0 auto;
    padding: 100px 0;
}


.form-edit {
    max-width: 30%;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    margin-top: 20px;
    background-color: lightGray;
    border: 1px solid green;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.form-edit input[type="text"],
.form-edit input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

#forgot {
    margin: 0 auto;
    padding: 100px 0;
}

#reset {
    margin-top: 100px;
}

#photo_cj {
    width: 180px;
    height: 180px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: image-url("cj.png") no-repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

#photo_yy {
    width: 180px;
    height: 180px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: image-url("yy.png") no-repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

#photo_jl {
    width: 180px;
    height: 180px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: image-url("jl.png") no-repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

#photo_felix {
    width: 180px;
    height: 180px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: image-url("felix.jpg") no-repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

#photo_gong {
    width: 180px;
    height: 180px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: image-url("gong.png") no-repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

#photo_cai {
    width: 180px;
    height: 180px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: image-url("cai.png") no-repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

#photo_ergang {
    width: 180px;
    height: 180px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: image-url("ergang.png") no-repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

.faq {
    margin: 50px;
}

.disclaimer {
    margin: 50px;
}

.privacy {
    margin: 50px;
}

.service_img {
    float: left;
    margin: 0 20px 20px 0;
}

p {
    text-align: justify;
}

video#bgvid {
    margin: 0;
    padding: 0;
    margin-bottom: -10px;
    min-width: 100%;
    min-height: 45%;
    width: auto;
    height: auto;
    z-index: -100;
    background: image-url("bg1.jpg") no-repeat;
    background-size: cover;
}

video {
    display: block;
}

#social {
    min-height: 100px;
    padding: 10px;
}

#bgimg {
    font-weight: 900;
    color: #d5d3d2;
    padding-top: 30px;
    min-height: 300px;
    background: image-url("bg1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}


.scroll-text {
    border: none;
    width: 400;
    height: 150px;
    overflow: hidden;
}
.scroll-text ul {
    width: 400;
    height: 200px;
    overflow: hidden;
    margin: 0;
    list-style: none;
}



@media screen and (max-width: 768px) {
    #bgvid {
        display: none;
    }
}

.rightcolumn {
    position: fixed;
    top: 0;
    right: 0;
    width: 10%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.2);
}

.leftcolumn {
    position: fixed;
    top: 0;
    left: 0;
    width: 10%;
    background-color: rgba(0, 255, 0, 0.2);
    height: 100%;
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
}

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
}

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
}

#scroll-news {
    font-size: 20px;
}
