<p>您好 <%= @resource.email %>!</p>

<p>请通过以下链接来修改您的密码</p>

<p><%= link_to '修改密码', edit_password_url(@resource, locale: 'zh-CN',  reset_password_token: @token) %></p>

<p>如果不是您本人发出的修改密码的请求，请忽略本邮件，您的密码将不会更改。</p>
