<div id="footer">
    <div class="container text-muted">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <%= image_tag("logo.png", size: "160x70", alt: "HanSeBridge") %>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <h4><span class="fa fa-star"></span> Copyright</h4>
                <p>©2015 HanSeBridge org.</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <h4><span class="fa fa-envelope"></span> Email:</h4>
                <p><a href="mailto:info@hansebridge.org">info@hansebridge.org</a></p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <h4><span class="fa fa-heart"></span> Site developed by</h4>
                <%= link_to "Chuan Jin", "http://chuanjin.me/about"%>
            </div>
        </div>

        <div id="bottom">
            <ul>
                <li><%= link_to t("FAQ"), faq_path %></li>
                <li>•</li>
                <li><%= link_to t("Disclaimer"), disclaimer_path %> </li>
                <li>•</li>
                <li><%= link_to t("Privacy"), privacy_path %></li>
            </ul>
        </div>
    </div>
</div>
