<div id="header">

    <div class="lead text-center container">
        <h1>
            <div class="golden"> Hansebridge International Chamber of Commerce </div>
        </h1>
        <h1>
            <div class="golden"> 汉瑞金桥国际商会 </div>
        </h1>
    </div>

</div>
