<% flash.each do |key, value| %>
    <% unless key.to_s == 'timedout' %>
        <div class="alert alert-<%= key %>">
            <a href="#" data-dismiss="alert" class="close">×</a>
            <ul>
                <li>
                    <%= value %>
                </li>
            </ul>
        </div>
    <% end %>
<% end %>
