<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <%= link_to index_path do %>
                        <i class="fa fa-home fa-1g icon_color"></i>
                        <span class="golden">
                            <%= t('Home') %>
                        </span>
                    <% end %>
                </li>
                <!--
                    <li>
                    <%= link_to activities_path do %>
                        <i class="fa fa-calendar fa-1g icon_color"></i>
                        <span class="golden">
                        <%= t('Activities') %>
                        </span>
                    <% end %>
                    </li>
                -->
                <li>
                    <%= link_to services_path do %>
                        <i class="fa fa-briefcase fa-1g icon_color"></i>
                        <span class="golden">
                            <%= t('Services') %>
                        </span>
                    <% end %>
                </li>
                <li>
                    <%= link_to about_path do %>
                        <i class="fa fa-group fa-1g icon_color"></i>
                        <span class="golden">
                            <%= t('About') %>
                        </span>
                    <% end %>
                </li>
                <li>
                    <%= link_to faq_path do %>
                        <i class="fa fa-question-circle fa-1g icon_color"></i>
                        <span class="golden">
                            <%= t('FAQ') %>
                        </span>
                    <% end %>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <%= link_to image_tag("us.png"), locale: :en%>
                </li>
                <li>
                    <%= link_to image_tag("zh.png"), locale: :'zh-CN'%>
                </li>
                <% if user_signed_in? %>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user fa-1g icon_color"></i><span class="golden"></span><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <%= link_to current_user do %>
                                    <i class="fa fa-user fa-1g icon_color"></i>
                                    <span class="golden">
                                        <%= t('Profile') %>
                                    </span>
                                <% end %>
                            </li>
                            <li>
                                <%= link_to edit_user_registration_path do %>
                                    <i class="fa fa-key fa-1g icon_color"></i>
                                    <span class="golden">
                                        <%= t('Reset Password') %>
                                    </span>
                                <% end %>
                            </li>
                            <li>
                                <%= link_to news_links_path do %>
                                    <i class="fa fa-bullhorn fa-1g icon_color"></i>
                                    <span class="golden">
                                        <%= t('News') %>
                                    </span>
                                <% end %>
                            </li>
                            <% if current_user.admin?  %>
                                <li>
                                    <%= link_to users_path do %>
                                        <i class="fa fa-group fa-1g icon_color"></i>
                                        <span class="golden">
                                            <%= t('Users') %>
                                        </span>
                                    <% end %>
                                </li>
                            <% end %>
                            <li class="divider"></li>
                            <li>
                                <%= link_to destroy_user_session_path, method: :delete do %>
                                    <i class="fa fa-sign-out fa-1g icon_color"></i>
                                    <span class="golden">
                                        <%= t('Log Out') %>
                                    </span>
                                <% end %>
                            </li>
                        </ul>
                    </li>
                <% else %>
                    <li>
                        <%= link_to new_user_registration_path do %>
                            <i class="fa fa-user fa-1g icon_color"></i> 
                            <span class="golden">
                                <%= t('Sign up') %> 
                            </span>
                        <% end %>
                    </li>
                    <li>
                        <%= link_to new_user_session_path do %>
                            <i class="fa fa-sign-in fa-1g icon_color"></i> 
                            <span class="golden">
                                <%= t('Sign in') %> 
                            </span>
                        <% end %>
                    </li>
                <% end %>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container -->
</div><!--/.navbar -->

