<!DOCTYPE html>
<html>
    <head>
        <title><%= t('HanSEbridge') %> | <%= yield(:title) %></title>

        <meta charset="UTF-8">
        <meta name="description" content="Hansebridge International Chamber of Commerce (汉瑞金桥国际商会) is a non profit organization. Focus on the connection between China and Sweden.">
        <meta name="keywords" content="Hansebridge, International Chamber of Commerce, 汉瑞金桥国际商会, 瑞典商会">
        <meta name="author" content="Chuan Jin">

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <%= render 'layouts/shim' %>
    </head>
    <body id="body">
        <%= render 'layouts/nav' %>
        <%= render 'layouts/header' %>

        <%= render 'layouts/messages' %>
        <%= yield %>

        <%= render 'layouts/footer' %>  
    </body>
</html>


<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-42884687-7', 'auto');
ga('send', 'pageview');

</script>



